body {
    background-color: black;
}
span {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 1px;
    height: 1px;
    transform: matrix(50, 3, -3, 50, 1000, 1000);
    border-radius: 500%;
}